.container {
  max-width: 800px;
  margin: 100px auto 0px auto;
}

.centeredContainer {
  padding: 0 1rem;
  text-align: center;
}

.title {
  margin: 2rem 0px 0.5rem !important;
}

.notFoundError {
  height: 50px !important;
  width: 50px !important;
  margin: 10px;
  color: grey;
}
