
/* Shared styles */
.notFoundError {
    height: 50px !important;
    width: 50px !important;
    margin: 10px;
    color: grey;
}

/* Index view styles */
.recipeContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    gap: 20px
}

.addButton {
    color: white !important;
    margin: 20px 30px!important;
    background-color: #772318 !important;
    float: left;
}

/* Post form styles */
.postFormPaper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    padding: 30px;
}

/* RecipeID view styles */
.recipeComponent {
    width: 100%;
    display: flex;
    padding: 30px 50px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.headerRecipeCard {
    display: inline-flex;
    border-radius: 30px !important;
    width: 100%;
}

.headerRecipeCard li::marker {
    font-weight: bold !important;
    text-align: center !important;
}

.recipeLabel:disabled {
    color: #772318 !important;
    border-color: #772318 !important;
    text-transform: capitalize;
}



.container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.card {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.alert {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #772318 !important;
    color: white !important;
}

.icon {
    color: white;
}

.button {
    background-color: #772318 !important;
}

.googleIcon {
    margin-left: 5px;
}

.item {
    border-radius: 20px !important;
    height: 350px;
}

.actionButton {
    color: #772318 !important;
    min-width: 40px !important;
}

.modalDelete {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 24;
    border-radius: 10px;
}

.modal {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 24;
    border-radius: 10px;
    overflow: auto;
    height: 90%;
}

.modalView {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 24;
    border-radius: 10px;
    height: 90%;
    width: 95%;
}

.modalHeader {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}

.logo {
    width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: block;
}

.input {
    width: 100%;
    margin-top: 10px;
}

.confirmButton {
    color: white !important;
    background-color: #772318 !important;
    width: 100%;
    margin-top: 30px !important;
    margin-bottom: 15px !important;
}

.cancelButton {
    color: white !important;
    background-color: #c5c5c5 !important;
    width: 100%;
}

.buttonIcon {
    margin: 5px;
}

.calendarModal {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 24;
    border-radius: 10px;
}

.calendarModalHeader {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 728px) {
    .postFormPaper {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 768) {
    .postFormPaper {
        width: 60%;
        height: auto;
    }
}