.profileComponent {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.infoWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.avatar {
  height: 300px !important;
  width: 300px !important;
  font-size: 5rem !important;
}

.userInfo {
  font-size: 1.2rem !important;
  font-weight: 550 !important;
}

.userPlan {
  border-color: #772318 !important;
  color: #772318 !important;
}

.notFoundError {
  height: 50px !important;
  width: 50px !important;
  margin: 10px;
  color: grey;
}

.formInput {
  width: 100%;
}

.basicInfoForm {
  display: flex;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.saveButton {
  color: white !important;
  background-color: #772318 !important;
}

.signoutGoogleButton {
  background-color: #772318 !important;
}

.googleIcon {
  margin-left: 5px;
}

.modal {
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 24;
  border-radius: 10px;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.logo {
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: block;
}

.confirmButton {
  color: white !important;
  background-color: #772318 !important;
  width: 100%;
  margin-top: 30px !important;
  margin-bottom: 15px !important;
}

.cancelButton {
  color: white !important;
  background-color: #c5c5c5 !important;
  width: 100%;
}

.buttonIcon {
  margin: 5px;
}

@media only screen and (max-width: 600px) {
  /* < 600 px */
  .profileComponent {
    height: auto;
    background-color: white!important;
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 0px 60px;
    border-radius: 0 !important;
    box-shadow: none !important;
  }

  .infoWrapper {
    gap: 30px;
    flex-direction: column;
  }

  .basicInfoForm {
    flex-direction: column;
  }

  .EditDeleteButtons {
    flex-direction: column-reverse;
  }

  .avatar {
    height: 250px !important;
    width: 250px !important;
    font-size: 3rem !important;
  }

  .recipeContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 600px) {
  /* >= 600 px */
  .profileComponent {
    height: auto;
    background-color: white!important;
  }

  .card {
    width: 100%;
    height: 100%;
    padding: 0px 120px;
    border-radius: 0 !important;
    box-shadow: none !important;
  }

  .infoWrapper {
    gap: 30px;
    flex-direction: column;
  }

  .basicInfoForm {
    flex-direction: column;
  }

  .recipeContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  /* >= 768 px */
  .profileComponent {
    padding: 20px 30px!important;
    background-color: initial!important;
  }

  .card {
    width: 100%;
    height: auto;
    border-radius: 20px !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25) !important;
    padding: 80px 200px;
  }

  .infoWrapper {
    gap: 60px;
    flex-direction: row;
  }

  .basicInfoForm {
    flex-direction: row;
  }

  .recipeContainer {
    flex-direction: row;
  }
}
